.game {
  width: 60vw;
  min-height: 300px;
  padding: 80px 20px 20px 20px;
  border: 1px solid red;
  border-radius: 8px;
  font-size: 2rem;
  position: relative;
  color: white;
  box-shadow: 0 0 15px 5px red;
  text-align: center  ;
}

.buttons {
  position: absolute;
  bottom: 20px;
}

.buttons > button {
  font-size: 1.5rem;
  color: white;
  margin-right: 10px;
  padding: 5px;
  background-color: #1d1d1d;
  border: 1px solid red;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 0 5px red;
}
